<div class="row">
  <div class="col-md-12 hero-text">
    <h2>UBS Claims Dashboard</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <uib-accordion>
      <div uib-accordion-group class="panel-default panel-fix" heading="Triggers" is-open="true" is-disabled="true">
        <table>
          <tr>
            <th>S.No</th>
            <th>Trigger</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Trigger CM</td>
            <td><input class="btn btn-default" value="Trigger" ng-click="runTrigger()" /></td>
          </tr>
        </table>
      </div>
    </uib-accordion>
  </div>
  <!-- /.col-lg-6 -->
</div>
